@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*common*/
:root {
    --main-color: #9e2435;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 16px;
    background-color: #f0f2f5;
}

#content {
    flex: 1 0 auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active  {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.btn-primary:disabled {
    background-color: var(--main-color);
    border-color: var(--main-color);
    opacity: .75;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #fff;
    border-color: var(--main-color);
    color: var(--main-color);
}

@media (max-width: 991.98px) {
    body.open {
        overflow: hidden;
        padding-right: 17px;
    }
    body.open #mobile-nav {
        display: block;
    }
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

/*loading-container*/
@keyframes spinner { 
    100% { 
        transform:rotate(360deg); 
    } 
}
.loading-container {
    padding: 16px;
}
.loading-container .spinner {
    animation: .75s linear infinite spinner;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*loading-container*/


/*common*/

/*page-breadcrumb*/
.page-breadcrumb {
    margin-top: 16px;
    margin-bottom: 16px;
}
.page-breadcrumb .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 8px;
}
.breadcrumb-item + .breadcrumb-item:before {
    color: #6c757d;
    content: "/";
    float: left;
    padding-right: 8px;
}
.page-breadcrumb .breadcrumb .breadcrumb-item {
    color: #000;
}
.page-breadcrumb .breadcrumb .breadcrumb-item a {
    color: #000;
    text-decoration: none;
}
.page-breadcrumb .breadcrumb .breadcrumb-item a:hover {
    color: var(--main-color);
}
.page-breadcrumb .breadcrumb .breadcrumb-item.active {
    color: var(--main-color);
    font-weight: bold;
}
/*page-breadcrumb*/

/*pagination*/
.pagination-container {
    justify-content: center;
    margin-top: 32px;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination .page-link {
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #dee2e6;
    color: #000;
    font-size: 16px;
}
.pagination .page-item.active .page-link {
    background-color: var(--main-color);
    color: #fff;
}
/*pagination*/

/*header*/
@keyframes searchLights{
    70%{left:-100%;}
    80%{left: -50%;}
    100%{left: 100%;}
}
.header {
    background: #fff;
}
.header > .container {
    height: 66px;
    align-items: center;
}
.header .navbar .nav-item.active a,
.header .navbar a:hover {
    color: var(--main-color);
}
.header-logo {
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.header-logo::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0)0,rgba(255,255,255,0.4)50%,rgba(255,255,255,0)100%);
    transform: skewX(-45deg);
    animation: searchLights 4s 0s ease infinite;
}
#menu-trigger {
    display: none;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
@media (min-width: 992px) {
    .header .navbar {
        margin-left: auto;
        margin-right: auto;
    }
    .header .navbar a {
        padding: 8px 10px;
    }
}
@media (max-width: 992px) {
    .header-action {
        margin-left: auto;
    }
    .header .navbar-nav {
        flex-direction: column!important;
    }
    .header .nav-link {
        padding: 8px 16px;
        border-bottom: 1px solid rgb(236, 239, 241);
    }
}
@media (max-width: 600px) {
    .header .main-nav {
        display: none;
    }
    .header .header-action .btn  {
        font-size: 14px;
    }
    #menu-trigger {
        height: 32px;
        min-width: 32px;
        max-width: 32px;
        font-size: 24px;
    }
}
@media (max-width: 992px) {
    #mobile-nav {
        position: fixed;
        display: none;
        top: 66px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        background-color: #fff;
        z-index: 99;
        border-top: 1px solid rgb(236, 239, 241);
    }
    #menu-trigger {
        display: flex;
    }
}
/*header*/

/*footer*/
.footer {
    color: #fff;
    background-color: var(--main-color);
}
.footer a {
    text-decoration: none;
}
.footer-main {
    padding-top: 36px;
}
.footer-main .footer-item {
    flex: 0 0 auto;
    width: 25%;
    padding-bottom: 20px;
}
.footer-main .footer-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer-nav li {
    margin-bottom: 5px;
}
.footer .footer-nav a {
    color: #fff;
    font-size: 14px;
}
.footer .footer-nav a:hover {
    color: #fff;
}
.footer .footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer-social li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.footer .footer-social i {
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-size: auto 20px;
}
.footer .footer-social .facebook {
    background-image: url(../images/icon/facebook-f.svg);
}
.footer .footer-social .instagram {
    background-image: url(../images/icon/instagram.svg);
}
.footer .footer-social .twitter {
    background-image: url(../images/icon/x-twitter.svg);
}
.footer .footer-social .youtube {
    background-image: url(../images/icon/youtube.svg);
}
.footer .contact-info {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .contact-info li {
    margin-bottom: 5px;
}
.footer .contact-info li * {
    color: #fff;
    font-size: 14px;
}
.footer .contact-info li label {
    padding-right: 5px;
    white-space: nowrap;
}
.footer .copyright {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer-main .footer-item {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .footer-main .footer-item {
        width: 100%;
    }
}
/*footer*/

/*account*/
.account-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.account-layout .column-left {
    width: 270px;
}
.account-layout .column-left .list-group {
    margin-bottom: 20px;
}
.account-layout .column-left a {
    border-bottom: 1px solid #e9ecef;
    display: block;
    color: #151515;
    padding: .5rem .75rem;
    font-size: 16px;
    text-decoration: none;
}
.account-layout .column-left a:hover,.account-layout .column-left a.active {
    background-color: var(--main-color);
    color: #fff
}
.account-layout .column-left select {
    margin-bottom: 20px;
    display: none;
}
.account-layout .column-right {
    width: calc(100% - 270px);
    padding-left: 30px;
}
.account-layout .card {
    border: 0;
}
.account-layout .card-header {
    background-color: #fff;
    font-size: 22px;
}

@media (max-width: 992px) {
    .account-layout .column-left {
        width: 100%;
    }
    .account-layout .column-left .list-group {
        display: none;
    }
    .account-layout .column-left select {
        display: block;
    }
    .account-layout .column-right {
        padding-left: 0;
        width: 100%;
    }
}
/*account*/

.text-gradient {
    padding-bottom: 5px;
    background-image: linear-gradient(
    45deg,
    hsl(352deg 63% 38%) 0%,
    hsl(340deg 56% 43%) 11%,
    hsl(327deg 45% 48%) 22%,
    hsl(306deg 33% 51%) 33%,
    hsl(273deg 41% 61%) 44%,
    hsl(240deg 57% 70%) 56%,
    hsl(217deg 84% 68%) 67%,
    hsl(204deg 98% 63%) 78%,
    hsl(194deg 100% 54%) 89%,
    hsl(189deg 100% 50%) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
}