main {
    background-color: #F0F0F0;
    padding-bottom: 0;
    display: flex;
    flex: 1;
}
.main-section {
    padding-top: 67px;
    padding-bottom: 67px;
}
.signin-section {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}
.signin-section .nav-link {
    border-radius: 0;
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
}
.signin-section .nav-pills .nav-link.active,
.signin-section .nav-pills .show > .nav-link {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #dee2e6;
}
.signin-section .nav-pills .nav-link.active > span,
.signin-section .nav-pills .show > .nav-link > span {
    border-bottom: 2px solid var(--theme-primary-color);
}
.signin-section .forget-password {
    color: #373333;
    font-size: 12px;
    background: none;
    text-decoration: underline;
}
.signin-section .btn-submit {
    width: 100%;
}
.signin-section .or {
    padding: 20px 0px;
    position: relative;
    text-align: center;
}
.signin-section .or::before {
    content: '';
    height: 1px;
    background-color: rgba(0,0,0,.1);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 3px;
}
.signin-section .or span {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    background: rgb(255, 255, 255);
    padding: 0px 8px;
    text-transform: uppercase;
    line-height: 1;
}