<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{app/account-layout :: layout(
        title='Change Password', 
        content='::content', 
        css='account',
        scripts='::scripts',
        breadcrumb='::breadcrumb',
        leftMenuActivePage='account/password'
    )}"
>
<body>
    <nav th:fragment="breadcrumb" aria-label="breadcrumb" class="page-breadcrumb">
        <div class="container-xxl">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li class="breadcrumb-item"><a href="/account">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </div>
    </nav>
    <main th:fragment="content">
        <section class="page-section form-section default-style">
            <h2 class="section-header section-title default-style mb-3">Change Password</h2>
            <div class="section-body default-style">     
                <form class="needs-validation form-default pb-3" th:action="@{/account/password}" th:object="${passwordForm}" method="POST" id="password-form">
                    <div class="form-row row">
                        <div class="form-group col-12 col-md-12 col-sm-12">
                            <label class="col-form-label" for="inputOldPassword">Current Password</label>
                            <input type="password" th:field="*{oldPassword}" 
                                   class="form-control" 
                                   th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid' : ''" 
                                   id="inputOldPassword" required minlength="8" maxlength="20">
                            <div th:if="${#fields.hasErrors('oldPassword')}" id="oldPassword-error" 
                                 class="error invalid-feedback" th:text="${#fields.errors('oldPassword')}"></div>
                        </div>

                        <div class="form-group col-12 col-md-12 col-sm-12">
                            <label class="col-form-label" for="inputPassword">New Password</label>
                            <input type="password" th:field="*{password}" 
                                   class="form-control" 
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" 
                                   id="inputPassword" required minlength="8" maxlength="20">
                            <div th:if="${#fields.hasErrors('password')}" id="password-error" 
                                 class="error invalid-feedback" th:text="${#fields.errors('password')}"></div>
                        </div>

                        <div class="form-group col-12 col-md-12 col-sm-12">
                            <label class="col-form-label" for="inputPasswordConfirmation">Confirm New Password</label>
                            <input type="password" th:field="*{passwordConfirmation}" 
                                   class="form-control" 
                                   th:classappend="${#fields.hasErrors('passwordConfirmation')} ? 'is-invalid' : ''" 
                                   id="inputPasswordConfirmation" required minlength="8" maxlength="20">
                            <div th:if="${#fields.hasErrors('passwordConfirmation')}" id="passwordConfirmation-error" 
                                 class="error invalid-feedback" th:text="${#fields.errors('passwordConfirmation')}"></div>
                        </div>
                        
                        <div class="text-center col-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-submit btn-primary mt-3">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    
    <script th:fragment="scripts">
        $(document).ready(function() {
            $("#password-form").validate({
                rules: {
                    password: {
                        minlength: 8,
                        maxlength: 20
                    },
                    passwordConfirmation: {
                        minlength: 8,
                        maxlength: 20,
                        equalTo: "#inputPassword"
                    }
                },
                submitHandler: function(form) {
                    var btn = $(form).find('.btn-submit');
                    btn.prop("disabled", true).addClass('loading');
                    form.submit();
                }
            });
            
            var success = '[[${success}]]';
            var error = '[[${error}]]';
            
            if (success && success.trim() !== '') {
                showErrorMessage(success);
            } else if (error && error.trim() !== '') {
                showErrorMessage(error);
            }
        });
    </script>
</body>
</html>
