<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{app/layout :: layout(
        activePage='contact',
        title='联系我们', 
        content='::content', 
        css='contact',
        scripts='::scripts'
    )}"
>
<body>
  <!-- Override content fragment -->
    <main th:fragment="content">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
            <div class="container-xxl">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </div>
        </nav>
        <div class="main-content container-xxl">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-left">
                    <div class="form-section">
                        <h2 class="section-title">Message Us</h2>
                        <div class="section-body">
                            <p class="notice">We're here to help and answer any question you might have. We look forward to hearing from you.</p>
                            <form class="needs-validation row g-3 form-default" method="POST" id="contact-form" th:action="@{/contact}" th:object="${contact}">
                                <div class="form-group">
                                    <label class="form-label" for="inputName">Name</label>
                                    <input type="text" name="name" class="form-control" id="inputName" required maxlength="100" placeholder="Name*" th:field="*{name}"
                                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="inputEmail">Email</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail" required maxlength="100" placeholder="Email*" th:field="*{email}"
                                    th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="inputTelephone">Telephone</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select th:field="*{telephonePrefix}" class="form-select">
                                                <option value="86">+86</option>
                                                <option value="852">+852</option>
                                                <option value="853">+853</option>
                                                <option value="886">+886</option>
                                            </select>
                                        </div>
                                        <input type="tel" name="telephone" class="form-control" id="inputTelephone" 
                                               required minlength="8" maxlength="15" placeholder="Telephone*" 
                                               th:field="*{telephone}" 
                                               th:classappend="${#fields.hasErrors('telephone')} ? 'is-invalid' : ''">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="inputMessage">Message</label>
                                    <textarea name="message" class="form-control" id="inputMessage" rows="5" required placeholder="Message*" maxlength="500" th:field="*{message}" th:classappend="${#fields.hasErrors('message')} ? 'is-invalid' : ''"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
                                </div>
                                <div class="text-center form-group mt-3">
                                    <button type="submit" class="btn btn-submit btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-right">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.334653332584!2d114.18228207605723!3d22.30317994278947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400e6d06d7c1b%3A0xc56b4441ff21dd71!2z6aaZ5riv55CG5bel5aSn5a2457SF56Oh54Gj5qCh5ZyS!5e0!3m2!1sen!2shk!4v1700291678332!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <section class="default-section section-location bg-light pt-5 pb-3">
            <h2 class="section-title text-center mb-3">Locations</h2>
            <div class="section-body container">
                <div class="row">
                    <div th:each="clinic : ${clinics}" class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                        <div class="card border-0 shadow-sm h-100">
                            <div class="card-body">
                                <h3 class="card-title" th:text="${clinic.name}"></h3>
                                <ul class="card-text location-info">
                                    <li th:text="${'Address: ' + clinic.address}"></li>
                                    <li th:text="${'Phone: ' + clinic.phone}"></li>
                                    <li th:text="${'Email: ' + clinic.email}"></li>
                                    <li th:utext="${'Opening Hours: ' + #strings.replace(clinic.openingHours, '&#10;', '<br>')}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script th:fragment="scripts">
        $(document).ready(function () {
            $("#contact-form").validate({
                submitHandler: function(form) {
                    var btn = $("#contact-form").find('.btn-submit');
                    btn.prop( "disabled", true).addClass('loading');
                    form.submit();
                    return
                }
            });

            var success = '[[${success}]]';
            var error = '[[${error}]]';
            
            if (success && success.trim() !== '') {
                showErrorMessage(success);
            } else if (error && error.trim() !== '') {
                showErrorMessage(error);
            }
        });
    </script>
</body>
</html>