<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{app/layout :: layout(activePage='service', title='Service Page', content='::content', css='service', scripts='')}">
<body>
  <!-- Override content fragment -->
    <main th:fragment="content">
      <nav aria-label="breadcrumb" class="page-breadcrumb">
          <div class="container-xxl">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Service</li>
              </ol>
          </div>
      </nav>
      <div class="main-content container-xxl">
        <div class="row">
          <div th:each="service : ${services}" class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
            <div class="card border-0 shadow-sm">
              <img th:src="@{'/uploads/services/' + ${service.image}}" class="card-img-top" th:alt="${service.name}">
              <div class="card-body">
                <h3 class="card-title text-center" th:text="${service.name}"></h3>
                <p class="card-text" th:text="${service.content}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>