<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{app/layout :: layout(activePage='team', title='Team Page', content='::content', css='team', scripts='')}">
<body>
  <!-- Override content fragment -->
  <main th:fragment="content">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
        <div class="container-xxl">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Team</li>
            </ol>
        </div>
    </nav>
    <div class="main-content container-xxl">
      <div class="row justify-content-center">
        <div th:each="dentist : ${dentists}" class="col-lg-3 col-md-4 col-sm-12 col-12 mb-4">
          <div class="card border-0 shadow mb-4 h-100">
            <div class="card-body">
              <h3 class="card-title" th:text="${dentist.name}"></h3>
              <small class="card-text" th:if="${dentist.qualification != null}" th:utext="${#strings.replace(dentist.qualification, '&#10;', '<br>')}"></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>