<footer class="footer">
    <div class="footer-main container">
      <div class="row">
        <div class="footer-item">
          <h4 class="footer-title">About Us</h4>
          <div class="footer-body">
            <ul class="footer-nav">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer-title">Help Center</h4>
          <div class="footer-body">
            <ul class="footer-nav">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer-title">Contact Us</h4>
          <div class="footer-body">
            <ul class="footer-social">
              <li>
                <a href="https://www.facebook.com/" target="_blank" aria-label="facebook">
                  <i class="facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/" target="_blank" aria-label="youtube">
                  <i class="youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/" target="_blank" aria-label="twitter">
                  <i class="twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank" aria-label="instagram">
                  <i class="instagram"></i>
                </a>
              </li>
            </ul>
            <ul class="contact-info">
              <li class="d-flex">
                <label>Phone:</label>
                <span><a href="tel:85295486777">95486777</a></span>
              </li>
              <li class="d-flex">
                <label>Email:</label>
                <span>
                  <a href="mailto:sales@codesignx.com">sales@codesignx.com</a>
                </span>
              </li>
              <li></li>
              <li class="d-flex">
                <label>Whatsapp:</label>
                <span>
                  <a href="https://web.whatsapp.com/send?phone=95486777&amp;text=" target="_blank">95486777</a>
                </span>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <img src="./assets/images/payment_footer.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <div class="copyright container">
      Copyrights ©2025 Poly@4701 & Codesignx. All rights reserved.
    </div>
  </footer>