<div class="column-left">
    <div class="list-group shadow bg-body rounded-0">
        <a href="/account" class="">Account</a>
        <a href="/account/password" class="">Password</a>
    </div>
    <select class="form-control rounded-0" id="account-left-menu-select">
        <option value="/account" data-href="/account">Account</option>
        <option value="/account/address" data-href="/account/address" >Address</option>
        <option value="/account/password" data-href="/account/password">Password</option>
    </select>
</div>