<div class="column-left">
    <div class="list-group shadow bg-body rounded-0">
        <a href="/account" th:class="${leftMenuActivePage == 'account' ? 'active' : ''}">Profile</a>
        <a href="/account/password" th:class="${leftMenuActivePage == 'account/password' ? 'active' : ''}">Change Password</a>
        <a href="/booking" th:class="${leftMenuActivePage == 'booking' ? 'active' : ''}">My Appointments</a>
    </div>
    <select class="form-select rounded-0 mt-3 d-md-none" id="account-left-menu-select">
        <option value="/account" th:class="${leftMenuActivePage == 'account' ? 'active' : ''}" data-href="/account">Profile</option>
        <option value="/account/password" th:class="${leftMenuActivePage == 'account/password' ? 'active' : ''}" data-href="/account/password">Change Password</option>
        <option value="/booking" th:class="${leftMenuActivePage == 'booking' ? 'active' : ''}" data-href="/booking">My Appointments</option>
    </select>
</div>